body {
	background-color: #F9D8D4;
}

h1 {
  text-align:center;
  color: #FCFCF9;
  font-family: helvetica;
  font-size: 120px;
}

p {
  text-align:center;
  color: #FCFCF9;
  font-family: Arial;
  font-style: bold;
  font-size: 20px;
}
