/*This is the format the background*/
body {
	background-color: #F9D8D4;
}

/*This is the format of the title*/
h1 {
  text-align:center;
  color: #FCFCF9;
  font-family: helvetica;
  font-size: 120px;
}

/*This is the format of the text*/
p {
  text-align:center;
  color: #FCFCF9;
  font-family: Arial;
  font-size: 20px;
  border-style: solid;
  border-color: white;
  border-width: thick;
}
