/*This is the format of the background*/
body {
	background-color: #F9D8D4;
}

/*This is the format of my name text*/
h1 {
  text-align:center;
  color: #FCFCF9;
  font-family: helvetica;
  font-size: 120px;
}

/*This is the format of the hyperlinks*/
h2 {
  text-align:center;
  color: #FCFCF9;
  font-family: helvetica;
  font-size: 90px;
}

/*This is the format of the picture*/
p{
  text-align: center;
}
