/*This is the format of the background*/
body {
	background-color: #F9D8D4;
}

/*This is the format of the Resume Text*/
h1 {
  text-align:center;
  color: #FCFCF9;
  font-family: helvetica;
  font-size: 150px;
}

/*This is the format of the Tufts Text*/
h2 {
  text-align:center;
  font-family: Arial;
  color: white;
  font-size: 40px;
  border-style: solid;
  border-color: white;
  border-width: thin;
}

/*This is the format of the Major/Minor Text*/
h3 {
  text-align:center;
  font-family: Arial;
  color: #4F346A;
  font-size: 30px;
}

/*This is the format of the Subheadings Text*/
h4 {
  text-align:center;
  font-family: Arial;
  color: white;
  font-size: 40px;
  border-style: solid;
  border-color: white;
  border-width: thin;
}

/*This is the format of the main text*/
p{
  text-align:center;
  font-family: helvetica;
  font-weight: lighter;
  color: #4F346A;
  font-size: 30px;
}
